<!DOCTYPE html>
<html>
<head>
  <title>News Reader</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<% if flash[:errors] %>
  <ul>
    <% flash[:errors].each do |error| %>
      <li><%= error %></li>
    <% end %>
  </ul>
<% end %>

<% if current_user %>
  Welcome <%= current_user.username %>!
  <%= link_to "Your Favorite Feeds", '#feeds/favorites' %>
  <%= button_to "Logout", session_url, method: :delete %>
<% else %>
  <%= link_to "Log In", new_session_url %> | <%= link_to "Sign Up", new_user_url %>
<% end %>

<%= yield %>

<%= link_to "Back to Index", "" %>

</body>
</html>
